
@main("ADD USER"){
<div ng-controller="AddCtrl">


<form>
    <input type="text" placeholder="name" class="text" ng-model="name" size="30">
    <br>
    <br>
    <input type="text" placeholder="email" class="text" ng-model="email" size="30">
    <br>
    <br>
    <input type="text" placeholder="password" class="text" ng-model="password" size="30">
    <br>
    <br>
    <input type="password" placeholder="password" class="text" ng-model="mobile" size="30">
    <br>
    <br>
    <input type="text" placeholder="admin" class="text" ng-model="admin" size="30">
    <br>
    <br>
    <input type="submit" class="btn btn-primary" ng-click="addTo()" value="Add Student" >
    <br><br>
  </form>
    </div>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/add.js")">
</script>
    }




