
@main("DELETE USER"){
<div ng-controller="DeleteCtrl">


    <form>
        <label>Enter the name of the user you want to delete:</label>
        <br>
        <br>
        <input type="text" placeholder="name" class="text" ng-model="name" size="30">

        <br>
        <br>
        <input type="submit" class="btn btn-primary" ng-click="deleteTo()" value="Delete Student" >
        <br><br>
    </form>
</div>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/delete.js")">
</script>
    }



