@(user:User)
@main("UPDATE USER"){
<div ng-controller="UpdateCtrl">


    <form>

        <br>
        <br>
        <input type="text" placeholder="name" class="text" ng-model="id"  ng-init ="id='@user.id'" style="display:none" size="30">
        <br>
        <br>
        <label>Enter new values:</label>
        <br>
        <br>
        <input type="text" placeholder="name" class="text" ng-model="name" ng-init="name='@user.name'" size="30">
        <br>
        <br>
        <input type="text" placeholder="email" class="text" ng-model="email" ng-init="email='@user.email'" size="30">
        <br>
        <br>
        <input type="text" placeholder="address" class="text" ng-model="address" ng-init="address='@user.address'" size="30">
        <br>
        <br>
        <input type="text" placeholder="mobile" class="text" ng-model="mobile" ng-init="mobile='@user.mobile'" size="30">
        <br>
        <br>
        <input type="text" placeholder="emergency" class="text" ng-model="emergency" ng-init="emergency='@user.emergency'" size="30">
        <br>
        <br>
        <input type="submit" class="btn btn-primary" ng-click="updateTo()" value="Update User" >
        <br><br>
    </form>
</div>

<script type="text/javascript" src="@routes.Assets.versioned("javascripts/update.js")">
</script>

    }



