

@main("List USER"){


<div ng-controller="UserCtrl">

    <table class="table table-hover">
<tr class="danger"><td>NAME</td><td>EMAIL</td><td>ADDRESS</td><td>MOBILE No.</td><td>EMERGENCY No.</td><td>ID</td><td>UPDATE</td></tr>
        <tr class="warning" ng-repeat="users in dataList">

            <td>{{users.name}}</td>
            <td>{{users.email}}</td>
            <td>{{users.address}}</td>
            <td>{{users.mobile}}</td>
            <td>{{users.emergency}}</td>
            <td> {{users.id}}</td>
            <td > <a href ="/update/{{users.id}}" ><button class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true">  CLICK ME </span></button></a></td>
        </tr>

    </table>


    <form>
     <p style="float:left">   <label >Enter id to delete:</label><input type="text" placeholder="id" class="text" ng-model="id" size="10"> <button type="submit" class="btn btn-danger" ng-click="deleteTo()">   <span class="glyphicon glyphicon-remove" aria-hidden="true">DELETE</span> </button>
   </p> </form> <a href="/add"><button style="float:right" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true">ADD</span> </button>  </a>

</div>

<script type="text/javascript" src="@routes.Assets.versioned("javascripts/user.js")">

</script>

}